$font-back: 'Arial', sans-serif;
$font-primary: 'Open Sans', $font-back;

$primary-color: rgb(68, 68, 68);
$primaru-color-hover: rgba(68, 68, 68, .6);
$primaru-color-active: rgba(68, 68, 68, .3);
$secondary-color: rgb(0, 0, 0);
$secondary-color-hover: rgba(0, 0, 0, .6);
$secondary-color-active: rgba(0, 0, 0, .3);
$third-color: #ececec;
$fourth-color: #f1f1f1;
$fifth-color: #63d1bb;
$sixth-color: #56c3b2;
$seventh-color: #62d1ba;
$eighth-color: rgb(255, 255, 255);
$eighth-color-active: rgba(255, 255, 255, .3);
$tenth-color: #e5e5e5;
$eleventh-color: #e7e7e7;
$twelfth-color: rgb(70, 193, 174);
$twelfth-color-active: rgba(70, 193, 174, .3);
$thirteenth-color: #666666;
$fourteenth-color: #b2b2b2;

$tablet-widths: #{'(min-width: 768px)'};
$desktop-widths: #{'(min-width: 1150px)'};
