$font-back: 'Arial', sans-serif;
$font-primary: 'Open Sans', $font-back;

$primary-color: #444444;
$secondary-color: #000000;
$third-color: #ececec;
$fourth-color: #f1f1f1;
$fifth-color: #63d1bb;
$sixth-color: #56c3b2;
$seventh-color: #62d1ba;
$eighth-color: #ffffff;
$tenth-color: #e5e5e5;
$eleventh-color: #e7e7e7;

$tablet-widths: #{'(min-width: 768px)'};
$desktop-widths: #{'(min-width: 1150px)'};
