.btn {
  @include font-set(700, 18px, 20px);

  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 52px;
  padding-top: 13px;

  font-family: $font-primary;
  text-align: center;
  color: $primary-color;
  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;
  border: 2px solid $primary-color;
  cursor: pointer;

  transition-duration: .15s;

  &:active {
    color: transparentize($eighth-color, .7);

    background-color: $primary-color;
  }
}

@media #{$tablet-widths} {
  .btn {
    padding-top: 14px;

    font-size: 17px;
  }
}

@media #{$desktop-widths} {
  .btn {
    &:hover {
      color: $eighth-color;

      background-color: $primary-color;
    }

    &:active {
      color: transparentize($eighth-color, .7);

      background-color: $primary-color;
    }
  }
}
