.btn {
  @include font-set(700, 18px, 20px);

  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 52px;
  padding-top: 13px;

  font-family: $font-primary;
  text-align: center;
  color: $primary-color;
  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;
  border: 2px solid $primary-color;
  cursor: pointer;
}

@media #{$tablet-widths} {
  .btn {
    padding-top: 14px;

    font-size: 17px;
  }
}
