.catalog-item {
  width: 260px;
  margin-top: 30px;
}

.catalog-item__link {
  @include font(0, 0);

  display: block;
}

.catalog-item__link img {
  border: none;
}

.catalog-item__description {
  padding-top: 26px;
  padding-right: 26px;
  padding-bottom: 27px;
  padding-left: 27px;

  border: 1px solid $third-color;
}

.catalog-item__description-header {
  border-bottom: 1px solid $third-color;
}

.catalog-item__name {
  @include font-set(700, 17px, 24px);
  color: $secondary-color;
  text-decoration: none;
}

.catalog-item__text {
  @include font(13px, 30px);

  margin: 0;
  margin-top: 5px;
  margin-bottom: 19px;
}

.catalog-item__description-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 21px;
}

.catalog-item__price {
  @include font-set(700, 15px, 24px);
  color: $secondary-color;
}

.catalog-item__buy {
  @include font(0, 0);

  width: 21px;
  height: 19px;
  margin-top: 1px;

  background: #ff8800;
}
