.catalog {
  box-sizing: border-box;
  width: 100%;
  padding-right: 9.4%;
  padding-bottom: 31px;
  padding-left: 9.4%;
}

@media #{$tablet-widths} {
  .catalog {
    padding-top: 27px;
    padding-right: 6.4%;
    padding-bottom: 53px;
    padding-left: 6.6%;
  }
}

@media #{$desktop-widths} {
  .catalog {
    @include margin-center();

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 1050px;
    padding-top: 76px;
    padding-right: 0;
    padding-bottom: 57px;
    padding-left: 0;
  }
}
