.catalog-item {
  box-sizing: border-box;
  margin-top: 30px;
}

.catalog-item__link {
  @include font(0, 0);

  display: block;
}

.catalog-item__link img {
  width: 100%;
  height: auto;
  border: none;
}

.catalog-item__description {
  padding-top: 26px;
  padding-right: 26px;
  padding-bottom: 27px;
  padding-left: 27px;

  border: 1px solid $third-color;
}

.catalog-item__name {
  @include font-set(700, 17px, 24px);
  color: $secondary-color;
  text-decoration: none;
}

.catalog-item__text {
  @include font(13px, 30px);

  margin: 0;
  margin-top: 5px;
  margin-bottom: 19px;
}

.catalog-item__description-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 21px;
  border-top: 1px solid $third-color;
}

.catalog-item__price {
  @include font-set(700, 15px, 24px);
  color: $secondary-color;
}

.catalog-item__buy {
  @include font(0, 0);

  width: 21px;
  height: 19px;
  margin-top: 1px;

  background: #ff8800;
}

@media #{$tablet-widths} {
  .catalog-item {
    display: flex;
    flex-direction: row;
    width: 668px;
    margin-top: 54px;
  }

  .catalog-item__link {
    width: 50%;
    min-height: 334px;

    background-color: $third-color;;
  }

  .catalog-item__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 50%;
    padding-top: 25px;
    padding-left: 25px;
  }

  .catalog-item__name {
    font-size: 20px;
  }

  .catalog-item__text {
    font-size: 15px;
  }

  .catalog-item__price {
    font-size: 17px;
    padding-left: 3px;
  }

  .catalog-item__buy {
    margin-right: 5px;
  }
}

@media #{$desktop-widths} {
  .catalog-item {
    flex-direction: column;
    width: 316px;
    margin-right: 50px;

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .catalog-item__link {
    width: 316px;
    min-height: 462px;
  }

  .catalog-item__description {
    flex-grow: 1;
    width: 316px;
    padding-left: 25px;
  }

  .catalog-item__text {
    margin-bottom: 14px;
  }

  .catalog-item__price {
    padding-left: 0;
  }

  .catalog-item__buy {
    margin-right: 6px;
  }
}

