.catalog-item {
  width: 100%;
  margin-top: 30px;
}

.catalog-item__link {
  display: block;
  font-size: 0;
  line-height: 0;
}

.catalog-item__description {
  padding-top: 26px;
  padding-right: 26px;
  padding-bottom: 27px;
  padding-left: 27px;

  border: 1px solid #ececec;
}

.catalog-item__description-header {
  border-bottom: 1px solid #ececec;
}

.catalog-item__name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}

.catalog-item__text {
  font-size: 13px;
  line-height: 30px;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 19px;
}

.catalog-item__description-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 21px;
}

.catalog-item__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000;
}

.catalog-item__buy {
  width: 21px;
  height: 19px;
  margin-top: 1px;

  font-size: 0;
  line-height: 0;

  background: #ff8800;
}
