.categories {
  @include center();

  flex-direction: column;
  width: 100%;
}

.categories__list {
  @include clear-list();

  box-sizing: border-box;
  width: 320px;
}

.categories__item {
  position: relative;

  display: block;
  width: 100%;
}

.categories__link {
  @include font-set(700, 19px, 24px);

  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 103px;
  padding-top: 25px;
  padding-right: 160px;
  padding-bottom: 30px;
  padding-left: 28px;
  color: $eighth-color;
  text-decoration: none;

  &--interior {
    background-color: $fifth-color;

    &::after {
      @include absolute-pseudo-element();

      top: 23px;
      right: 37px;

      width: 41px;
      min-height: 62px;

      background-color: #ff8800;
    }
  }
  &--toys {
    background-color: $sixth-color;

    &::after {
      @include absolute-pseudo-element();

      top: 20px;
      right: 27px;

      width: 61px;
      min-height: 61px;

      background-color: #ff8800;
    }
  }
}
