.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;

  width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 36px;
  padding-bottom: 39px;
}

.contacts__title {
  margin: 0;
  padding-right: 30px;
  padding-left: 28px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.contacts__inner {
  display: table;
  padding-right: 30px;
  padding-left: 30px;

  font-size: 15px;
  line-height: 30px;
}

.contacts__item {
  display: table-row;
}

.contacts__field {
  padding-top: 27px;
  display: table-cell;
  width: 76px;
}

.contacts__link {
  display: table-cell;

  color: #444444;
  text-decoration: none;

  border-bottom: 1px solid #62d1ba;
}

.contacts__text {
  display: table-cell;
}

.contacts__map {
  width: 320px;
  height: 457px;
  margin-top: 37px;
  margin-bottom: 40px;

  background-image: url(../img/map-mobile@1x.jpg);
}

.contacts__btn {
  width: 260px;
  align-self: center;
}
