.contacts {
  @include center();
  flex-direction: column;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding-top: 36px;
  padding-bottom: 39px;
}

.contacts__title {
  @include font-set(700, 18px, 30px);

  margin: 0;
  padding-right: 30px;
  padding-left: 28px;
}

.contacts__inner {
  @include font(15px, 30px);

  display: table;
  padding-right: 30px;
  padding-left: 30px;
}

.contacts__item {
  display: table-row;
}

.contacts__field {
  display: table-cell;
  padding-top: 28px;
  width: 76px;
}

.contacts__link {
  color: $primary-color;
  text-decoration: none;

  border-bottom: 1px solid $seventh-color;
}

.contacts__text {
  display: table-cell;
}

.contacts__map {
  width: 100%;
  height: 457px;
  margin-top: 37px;
  margin-bottom: 40px;

  background-image: url(../img/map-mobile@1x.jpg);
}

.contacts__btn {
  width: 260px;
  align-self: center;
}

@media #{$tablet-widths} {
  .contacts__wrapper {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 768px;
    padding-top: 47px;
    padding-bottom: 57px;
  }

  .contacts__title {
    @include font(43px, 50px);

    box-sizing: border-box;
    width: 668px;
    position: relative;
    padding-top: 15px;
    padding-right: 100px;
    padding-left: 0px;

    &::after {
      @include absolute-pseudo-element();
      top: 0;
      right: 0;

      width: 47px;
      height: 81px;
      background-color: #ff8800;
    }
  }

  .contacts__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 668px;
    margin-top: 22px;
    padding-right: 0px;
    padding-left: 1px;

    font-size: 17px;
  }

  .contacts__item {
    display: inline-block;
    margin-right: 54px;

    &--address {
      margin-right: 0;
    }
  }

  .contacts__link {
    display: table-cell;
  }

  .contacts__map {
    width: 768px;
    margin-top: 56px;
    margin-bottom: 55px;
  }

  .contacts__btn {
    width: 230px;
  }
}

@media #{$desktop-widths} {
  .contacts__wrapper {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 1050px;
    margin-bottom: 48px;
    padding-top: 71px;
  }

  .contacts__title {
    @include font(53px, 57px);

    width: 175px;
    margin-top: 70px;
    padding-top: 0;
    padding-right: 10px;
    padding-left: 170px;

    &::after {
      top: -8px;
      left: 63px;
    }
  }

  .contacts__inner {
    display: table;
    width: 310px;
    margin-top: 149px;
    margin-right: auto;
    margin-bottom: 100px;
    margin-left: -6px;
  }

  .contacts__field {
    width: 77px;
  }

  .contacts__link {
    display: inline;
    width: 20px;
  }

  .contacts__item {
    display: table-row;
    margin-right: 54px;

    &--address {
      margin-right: 0;
    }
  }

  .contacts__map {
    width: 525px;
    height: 457px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .contacts__btn {
    width: 230px;
    margin-top: -52px;
    margin-left: 175px;
  }
}

