.featured {
  @include center();
  flex-direction: column;
}

.featured__inner {

  position: relative;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 260px;
  padding-top: 27px;
  padding-bottom: 42px;
}

.featured__title {
  @include font-set(700, 25px, 30px);

  margin: 0;
  margin-bottom: 4px;

  color: $secondary-color;
}

.featured__label {
  @include font-set(700, 17px, 20px);

  color: $fifth-color;
  text-transform: uppercase;
}

.featured__wrapper {
  display: flex;
  flex-direction: column;
}

.featured__text {
  @include font(15px, 24px);

  margin-top: 24px;
}

.featured__table {
  @include font(15px, 20px);

  width: 100%;
  margin-top: 3px;

  border-collapse: collapse;
}

.featured__row {
  border-bottom: 1px solid $third-color;
}

.featured__field {
  width: 95px;
  height: 37px;
}

.featured__image {
  width: 260px;
  height: 315px;
  margin-top: 28px;
}

.featured__bottom {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.featured__price {
  @include font-set(700, 17px, 24px);
  margin-bottom: 26px;

  text-align: center;
}

.featured__btn {
  line-height: 20px;
}

@media #{$tablet-widths} {
  .featured__inner {
    box-sizing: border-box;
    width: 668px;
    padding-top: 46px;
    padding-bottom: 70px;
  }

  .featured__top {
    display: flex;
    justify-content: space-between;
  }

  .featured__title {
    @include font(43px, 50px);
  }

  .featured__label {
    width: 125px;
    padding-top: 11px;

    line-height: 17px;
    text-align: center;
  }

  .featured__wrapper {
    flex-wrap: wrap;
    align-content: space-between;
    box-sizing: border-box;
    padding-top: 45px;
  }

  .featured__text {
    @include font(17px, 30px);

    width: 290px;
    margin-top: -413px;
  }

  .featured__table {
    width: 290px;
    margin-top: 19px;
  }

  .featured__image {
    order: -1;
    margin-left: 335px;
    width: 333px;
    height: 0;
    height: 404px;
    margin-top: 8px;

    img {
      width: 100%;
    }
  }

  .featured__bottom {
    width: 292px;
    margin-top: 56px;
  }

  .featured__price {
    @include font(20px, 24px);

    margin-bottom: 34px;
  }
}

@media #{$desktop-widths} {
  .featured__inner {
    width: 1050px;
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .featured__top {
    position: absolute;
    z-index: 1;

    margin-top: 60px;
    margin-left: -27px;
  }

  .featured__title {
    @include font(53px, 57px);

    order: 1;
    margin-left: 26px;

    white-space: nowrap;
  }

  .featured__label {
    padding-top: 15px;
    margin-left: 47px;
  }

  .featured__wrapper {
    box-sizing: border-box;
    width: 1050px;
//    height: 644px;
    padding-top: 0;
    padding-left: 175px;
  }

  .featured__text {
    margin-top: -478px;
  }

  .featured__table {
    margin-top: 31px;
  }

  .featured__image {
    width: 525px;
    height: 636px;
    margin-left: 350px;
  }

  .featured__bottom {
    margin-top: 110px;
  }
}
