.featured {
  display: flex;
  flex-direction: column;



  &__inner {
    @include margin-center();

    position: relative;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 260px;
    padding-top: 27px;
    padding-bottom: 42px;
  }

  &__title {
    margin: 0;
    margin-bottom: 4px;

    font-weight: 700px;
    font-size: 25px;
    line-height: 30px;
    color: $secondary-color;
  }

  &__label {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: $fifth-color;
    text-transform: uppercase;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__text {
    margin-top: 24px;

    font-size: 15px;
    line-height: 24px;
  }

  &__table {
    width: 100%;
    margin-top: 3px;

    border-collapse: collapse;
    font-size: 15px;
    line-height: 20px;
  }

  &__row {
    border-bottom: 1px solid $third-color;
  }

  &__field {
    width: 95px;
    height: 37px;
  }

  &__image {
    width: 260px;
    height: 315px;
    margin-top: 28px;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }

  &__price {
    margin-bottom: 26px;

    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
  }
}
