.featured {
  display: flex;
  flex-direction: column;
}

.featured__inner {
  position: relative;

  box-sizing: border-box;
  width: 260px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 27px;
  padding-bottom: 42px;
}

.featured__title {
  margin: 0;
  margin-bottom: 4px;

  font-weight: 700px;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.featured__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.featured__wrapper {
  display: flex;
  flex-direction: column;
}

.featured__text {
  margin-top: 22px;

  font-size: 15px;
  line-height: 24px;
}

.featured__table {
  width: 100%;
  margin-top: 3px;

  border-collapse: collapse;
  font-size: 15px;
  line-height: 20px;
}

.featured__row {
  border-bottom: 1px solid #ececec;
}

.featured__field {
  width: 95px;
  height: 37px;
}

.featured__image {
  width: 260px;
  height: 315px;
  margin-top: 28px;
}

.featured__bottom {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.featured__price {
  margin-bottom: 26px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}
