.logo {
  @include margin-center();

  display: flex;
  flex-direction: column;
  width: 86px;
  margin-top: 22px;
  margin-bottom: 23px;
}

.logo img {
  border: none;
}

@media #{$tablet-widths} {
  .logo {
    margin-top: 22px;
    margin-left: 0;
  }
}

@media #{$desktop-widths} {
  .logo {
    width: 149px;
    height: 72px;
    margin-top: 9px;
    margin-right: 101px;
    margin-left: 39px;
    background-color: #dddddd;
  }
}
