.logo {
  @include margin-center();

  display: flex;
  flex-direction: column;
  width: 86px;
  margin-top: 22px;
  margin-bottom: 22px;

  &--footer {
    display: none;
  }
}

.logo img {
  border: none;
}

@media #{$tablet-widths} {
  .logo {
    width: 113px;
    height: 46px;
    margin-top: 22px;
    margin-left: 0;
    background-color: #dddddd;

    &--footer {
      width: 185px;
      display: block;
      margin: 0;
    }
  }
}

@media #{$desktop-widths} {
  .logo {
    width: 149px;
    height: 72px;
    margin-top: 9px;
    margin-right: 103px;
    margin-left: 39px;
    margin-bottom: 0;
  }
}
