.main-nav {
  @include center();

  position: relative;
  z-index: 1;

  flex-direction: column;
  box-sizing: border-box;
  width: 320px;
  height: 79px;
  padding: 0;
  overflow: hidden;

  &--nojs {
    overflow: visible;
  }

  &--open {
    overflow: visible;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 32px;
  right: 31px;

  width: 20px;
  height: 14px;

  //background-color: transparent;
  background-color: #ff8800;
  ;
  border: none;

  &--nojs {
    display: none;
  }

  &--open {
    top: 29px;
    right: 30px;

    width: 21px;
    height: 20px;
    background-color: #ff8800;
  }
}

.main-nav__list {
  @include clear-list();

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 320px;
  //border-right: 1px solid $third-color;
  //border-left: 1px solid $third-color;
}

.main-nav__item {
  border-bottom: 1px solid $third-color;
  background-color: $eighth-color;

  &--search {
    position: relative;

    &::after {
      @include absolute-pseudo-element();

      top: 31px;
      left: 32px;

      width: 18px;
      height: 19px;

      background-color: #ff8800;
    }
  }
  &--cart {
    position: relative;

    &::after {
      @include absolute-pseudo-element();

      top: 31px;
      left: 30px;

      width: 21px;
      height: 18px;

      background-color: #ff8800;
    }
  }

  &--desktop {
    display: none;
  }
}

.main-nav__link {
  @include font-set(700, 17px, 79px);

  display: block;
  box-sizing: border-box;
  min-height: 79px;
  padding-left: 75px;

  color: $secondary-color;
  text-decoration: none;
}


@media #{$tablet-widths} {
  .main-nav {
    justify-content:space-between;
    align-items: stretch;
    width: 668px;
    height: 88px;
    overflow: visible;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 668px;
  }

  .main-nav__item {
    order: 1;
    padding-right: 37px;

    background-color: transparent;
    border: none;

    &--logo {
      order: 0;
      width: 320px;
      height: 88px;
      padding-right: 0;
    }

    &--search {
      @include font(0px, 0px);
      order: 0;
      width: 82px;
      padding-right: 0;

      border-right: 1px solid $third-color;
      border-left: 1px solid $third-color;

      &::after {
        top: 36px;
        left: 32px;
      }
    }

    &--cart {
      order: 0;
      padding-right: 0;

      &::after {
        top: 35px;
        left: 30px;
      }
    }
  }

  .main-nav__link {
    @include font(15px, 24px);

    min-height: auto;
    margin-top: 18px;
    margin-bottom: 0;
    padding-left: 0;

    &--search {
      @include font(0, 0);
      min-height: 88px;
      margin-top: 0;
    }

    &--cart {
      @include font-set(700, 17px, 86px);

      min-height: 88px;
      margin-top: 0;
      padding-left: 82px;
    }
  }
}

@media #{$desktop-widths} {
  .main-nav {
    width: 1133px;
    margin: 0;
  }

  .main-nav__list {
    flex-direction: row;
    width: 1133px;
    padding-right: 41px;
    padding-left: 41px;
  }

  .main-nav__item {
    order: 0;
    padding: 0;

    &--logo {
      order: 1;
      width: auto;
    }

    &--search {
      order: 1;
    }

    &--cart {
      order: 1;
    }

    &--desktop {
      display: block;
      order: 2;
    }

    &--border-right {
      border-right: 1px solid $third-color;
    }
  }

  .main-nav__link {
    @include font(17px, 24px);
    margin: 0;
    padding-top: 31px;
    padding-right: 37px;
    padding-bottom: 33px;
    padding-left: 33px;

    &--border-right {
      padding-left: 0;
    }

    &--logo {
      order: 1;
      margin: 0;
      width: auto;
      padding-left: 40px;
      padding-top: 0;
    }

    &--search {
      @include font(0, 0);
      padding: 0;
    }

    &--cart {
      padding-right: 0;
      padding-left: 83px;
    }

    &--desktop {
      @include font(15px, 24px);
      padding: 0;
      margin-top: 18px;
      margin-right: 62px;
    }
  }
}
