.main-nav {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 320px;
  height: 80px;
  padding: 0;
  overflow: hidden;

  &--nojs {
    overflow: visible;
  }

  &--open {
    overflow: visible;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 32px;
  right: 31px;

  width: 20px;
  height: 14px;

  //background-color: transparent;
  background-color: #ff8800;
  ;
  border: none;

  &--nojs {
    display: none;
  }

  &--open {
    top: 29px;
    right: 30px;

    width: 21px;
    height: 20px;
    background-color: #ff8800;
  }
}

.main-nav__list {
  @include clear-list();
  @include margin-center();

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 320px;
  background-color: $eighth-color;
  //border-right: 1px solid $third-color;
  //border-left: 1px solid $third-color;
}

.main-nav__item {
  border-bottom: 1px solid $third-color;
  background-color: $eighth-color;

  &--search {
    position: relative;

    &::after {
      @include absolute-pseudo-element();

      top: 31px;
      left: 32px;

      width: 18px;
      height: 19px;

      background-color: #ff8800;
    }
  }
  &--cart {
    position: relative;

    &::after {
      @include absolute-pseudo-element();

      top: 31px;
      left: 30px;

      width: 21px;
      height: 18px;

      background-color: #ff8800;
    }
  }
}

.main-nav__link {
  display: block;
  box-sizing: border-box;
  min-height: 79px;
  padding-left: 75px;

  font-weight: 700;
  font-size: 17px;
  line-height: 79px;
  color: $secondary-color;
  text-decoration: none;
}
