.page-footer {
  @include center();

  flex-direction: column;
  box-sizing: border-box;

  background-color: $fourth-color;
}

.page-footer__copyright {
  @include center();

  @include font-set(700, 19px, 19px);

  box-sizing: border-box;
  width: 260px;
  margin: 0;
  padding-top: 19px;
  padding-bottom: 25px;

  color: $secondary-color;
  text-decoration: none;

  border: none;
  border-top: 1px solid $tenth-color;

  transition-duration: .2s;

  span {
    margin-right: 28px;
  }

  &:active {
    opacity: .3;
  }
}

.page-footer__svg-copyright {
  margin-top: 3px;

  fill: $fifteenth-color;

  transition-duration: .2s;
}

@media #{$tablet-widths} {
  .page-footer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
  }

  .page-footer__copyright {
    width: 185px;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 34px;

    border: none;
  }
}

@media #{$desktop-widths} {
  .page-footer__copyright {
    &:hover .page-footer__svg-copyright {
      fill: $nineteenth-color;
    }
  }
}
