.page-footer {
  @include margin-center();

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 320px;
  padding-left: 30px;
  padding-right: 35px;

  background-color: $fourth-color;
}

.page-footer__copyright {
  @include font-set(700, 18px, 34px);

  box-sizing: border-box;
  height: 80px;
  margin: 0;
  padding-top: 20px;

  text-align: center;

  border-top: 1px solid $tenth-color;
}

.page-footer__html-academy {
  display: inline-block;
  width: 27px;
  height: 34px;
  margin-left: 32px;

  font-size: 0;
  vertical-align: top;

  background-color: #ff8800;
}
