.production {
  @include margin-center();

  box-sizing: border-box;
  width: 81%;
  margin-bottom: 58px;
  padding-top: 23px;

  border: 1px solid $third-color;

  transition-duration: .25s;

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
  }
}

.production__header {
  position: relative;
}

.production__title {
  @include font(17px, 24px);

  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 24px;
  padding-left: 88px;

  color: $secondary-color;
}

.production__svg-video {
    position: absolute;

    top: 11px;
    left: 33px;

    width: 32px;
    height: 22px;
}

.production__video {
  @include center();

  position: relative;

  height: auto;

  font-size: 0;
  text-align: center;

  background-color: $third-color;

  img {
    width: 100%;
  }
}

.production__play {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 101px;
  height: 78px;
  padding: 0;

  background-color: transparent;
  border: none;
  transform: translate(-50%, -50%);
  transition-duration: .15s;

  &:active {
    transform: translate(-50%, -50%) scale(.8);
  }
}

.production__description {
  @include font(13px, 24px);

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding-top: 16px;
  padding-right: 13%;
  padding-bottom: 32px;
  padding-left: 12.6%;

  color: $secondary-color;
}

.production__btn {
  margin-top: 12px;
  padding-top: 14px;

  font-size: 17px;
}

@media #{$tablet-widths} {
  .production {
    display: flex;
    flex-direction: column;

    width: 87%;
    margin-bottom: 63px;
    padding-top: 0;
  }

  .production__title {
    width: 668px;
    padding-top: 38px;
    padding-bottom: 3px;
    padding-left: 105px;

    font-size: 20px;

    border-top: 1px solid $third-color;
  }

  .production__svg-video {
      top: 39px;
      left: 41px;
    }

  .production__video {
    order: -1;
    //height: 455px;
    background-color: $third-color;
  }

  .production__description {
    @include font(15px, 30px);

    width: 100%;
    padding-top: 14px;
    padding-right: 42px;
    padding-bottom: 45px;
    padding-left: 40px;
  }

  .production__btn {
    margin-top: 20px;
  }
}

@media #{$desktop-widths} {
  .production {
    @include margin-center();

    position: relative;

    align-items: flex-end;
    width: 1050px;
    margin-bottom: 105px;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, .1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
    }
  }

  .production__wrapper {
  }

  .production__title {
    width: 368px;
    //margin-top: -454px;
    padding-top: 95px;
    padding-right: 56px;
    padding-bottom: 0;
    padding-left: 78px;

    border-top: none;
  }

  .production__svg-video {
      top: 46px;
      left: 81px;
  }

  .production__video {
    position: absolute;
    top: 0;
    left: 0;

    width: 682px;
    height: 454px;
    //margin-right: auto;
  }

  .production__play {
    &:hover {
      transform: translate(-50%, -50%) scale(1.2);
    }

    &:active {
      transform: translate(-50%, -50%) scale(.8);
    }
  }

  .production__description {
    width: 368px;
    padding-top: 0;
    padding-right: 56px;
    padding-bottom: 60px;
    padding-left: 79px;
  }

  .production__text {
    margin-top: 33px;
    margin-bottom: 0;
  }

  .production__btn {
    margin-top: 46px;
  }
}
