.promo-text {
  @include margin-center();
  @include font(13px, 24px);

  box-sizing: border-box;
  width: 320px;
  margin-top: 22px;
  margin-bottom: 23px;
  padding-right: 35px;
  padding-left: 30px;
}

@media #{$tablet-widths} {
  .promo-text {
    @include font(17px, 30px);

    width: 668px;
    margin-top: 74px;
    margin-bottom: 72px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media #{$desktop-widths} {
  .promo-text {
    width: 700px;
    margin-top: 123px;
    margin-bottom: 72px;
    padding-right: 0;
    padding-left: 0;
  }
}
