.reviews {
  @include center();
  flex-direction: column;
}

.reviews__wrapper {

  display: flex;
  flex-direction: column;
  width: 260px;
  padding-top: 37px;
  padding-bottom: 50px;
}

.reviews__title {
  @include font-set(700, 25px, 30px);

  margin-top: 0;
  margin-bottom: 0;
  color: $secondary-color;
}

.reviews__item {
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.reviews__text {
  @include font(15px, 30px);

  margin-top: 24px;
}

.reviews__footer {
  display: flex;
  flex-direction: column;
  margin-top: 27px;

  font-size: 17px;
  font-style: normal;
}

.reviews__author {
  line-height: 24px;
}

.reviews__tag {
  margin-top: 3px;

  line-height: 30px;
}

.reviews__controls {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-top: 29px;
  margin-bottom: 38px;

  border: 1px solid $third-color;
}

.reviews__toggle {
  flex-grow: 1;

  background-color: transparent;
  border: none;

  &--next {
    border-left: 1px solid $third-color;
  }
}
