.social {
  @include center();

  box-sizing: border-box;
  height: 80px;
  margin: 0;
}

.social__link {
  display: block;
  margin-top: auto;
  margin-right: 20px;
  margin-bottom: auto;
  margin-left: 20px;

  font-size: 0;
}

.social__svg {
  transition-duration: .2s;

  &:active {
    fill: transparentize($nineteenth-color, .7);
  }
}

@media #{$tablet-widths} {
  .social {
    width: 300px;
    min-height: 144px;
  }
}

@media #{$desktop-widths} {
  .social {
    margin-right: 190px;
    margin-left: 190px;
  }

  .social__svg {
    transition-duration: .2s;

    &:hover {
      fill: $nineteenth-color;
    }

    &:active {
      fill: transparentize($nineteenth-color, .7);
    }
  }
}
