.social {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 80px;
  margin: 0;
}

.social__link {
  display: block;
  margin-top: auto;
  margin-right: 20px;
  margin-bottom: auto;
  margin-left: 20px;

  font-size: 0;

  background-color: #ff8800;

  &--inst {
    width: 22px;
    height: 21px;
  }

  &--fb {
    width: 15px;
    height: 29px;
  }

  &--tw {
    width: 24px;
    height: 20px;
  }
}
